In [2]:
# Import important packages
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import joblib

In [22]:
# path to dataset
filename="data/breast-cancer-wisconsin.data"

#set columns name
columns_name = [
    'sample_code',
    'clump_thickness',
    'uniformity_cell_size',
    'uniformity_cell_shape',
    'marginal_adhesion',
    'single_epithelial_cell_size',
    'bare_nuclei',
    'bland_chromatin',
    'normal_nucleoli',
    'mitoses',
    'class'
]

# load data
data = pd.read_csv(filename, names = columns_name)
data.head(3)

'sample_code'

In [24]:
data = data.replace('?', -9999)
# drop id column

X = data.drop(['class'], axis=1)

y = data['class']

In [25]:
X.head()

,sample_code,clump_thickness,uniformity_cell_size,uniformity_cell_shape,marginal_adhesion,single_epithelial_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses
0,1000025,5,1,1,1,2,1,3,1,1
1,1002945,5,4,4,5,7,10,3,2,1
2,1015425,3,1,1,1,2,2,3,1,1
3,1016277,6,8,8,1,3,4,3,7,1
4,1017023,4,1,1,3,2,1,3,1,1

In [31]:
type(y)

pandas.core.series.Series